//Text colors
$a-base-color:  #333 !default; // Black
$a-base-color-variant: #111 !default; //Black on small screen
$a-base-color-invert: #fff !default;
$a-secondary-color: #888 !default; // Gray
$a-secondary-color-variant: #666 !default; // Gray on small screen
$a-tertiary-color: #aaa !default; // Lighter Grey
$a-tertiary-color-variant: #999 !default; // Lighter Grey on small screen
$a-state-color: #e47911 !default; //Orange
$a-success-color:  #090 !default; //Green
$a-price-color: #B12704 !default; // Red
$a-link-color: #0066c0 !default; // Blue
$a-error-color: #d00 !default; // Red
$a-info-color: #BBD3DE !default; // Blueish
$a-warning-color: #ffd63f !default; // Yellow/Orangeish

//Structural colors
$a-border-color: #ddd !default; // Light gray border
$a-border-color-variant: #e7e7e7 !default; // even LIGHTER gray border
$a-thumb-border: #e0e0e0 !default;
$a-alternate-background-color: #f3f3f3 !default; // Light gray bg
$a-offset-background-color: lighten($a-alternate-background-color, 1%) !default; // even LIGHTER gray bg
$a-base-background-color: #fff !default; // White bg
$a-nav-gradient-end: #eee !default;

//Sizing
$a-size-mini: 11px;
$a-size-small: 12px;
$a-size-base: 13px;
$a-size-medium: 17px;
$a-size-large: 21px;
$a-size-extra-large: 28px;

//Spacing
$a-spacing-micro: 4px;
$a-spacing-mini: 6px;
$a-spacing-small: 10px;
$a-spacing-base: 14px;
$a-spacing-medium: 18px;
$a-spacing-large: 22px;
$a-spacing-extra-large: 26px;
$a-spacing-double-large: 44px;