/* line 3, /Users/jannhorvath/personal/bux-cuddlefish.github.io/source/stylesheets/objects/container_card.scss */
.image--placeholder {
  width: 170px;
  height: 150px;
  display: block;
  background-color: #f3f3f3; }
