@import "globals/variables";

.asin__block__container {
}

/* ASIN Image */
.product__image {
  width: 10%;
  padding-bottom: 10px;
  text-align: left;
}

/* ASIN Link */
.product__link {
  font-family: Arial;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  color: $a-desktop-base-color;
  text-decoration: none;
}

.product__link:active {
  color: $a-desktop-base-color;
}

.product__link:visited {
  color: $a-desktop-base-color;
}

.list__price {
  font-family: Arial;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: line-through;
}

.red__price {
  font-family: Arial;
  font-size: 13px;
}

/* Review Stars */
.reviews {
  clear: both;
  overflow: hidden;
  margin-top: 20000px;
}

.reviews__container {
  vertical-align: middle;
}

.reviews__stars {
  display: inline-block;
  width: 80px;
  height: 18px;
  box-sizing: border-box; 
  -moz-box-sizing: border-box;
  background-position: -175px -368px;
  background-image: url("../../images/aui-sprite.png");
  background-repeat: no-repeat;
  background-size: 400px 650px;
}

.reviews__star__number {
  display: inline-block;
  font-family: Arial;
  font-size: 13px;
  line-height: 18px;
}

.reviews__star__number:active {
  box-sizing: border-box;
  color: #0066c0;
  font-size: 13px;
}

.reviews__star__number:visited {
  color: #0066c0;
}

/* Narwhal's */

.price-block__container{
	margin: 10px;
}

.image--placeholder {
	width:170px;
	height: 150px;
	display:block;

	background-color: $a-alternate-background-color;
}

.price-block__title {
	padding-bottom: a-desktop-spacing-micro;

	font-size: a-desktop-size-small;
	color: #004B91;
}

.price-block__price--list {
  display: inline-block;

  text-decoration: line-through;
  font-size: a-desktop-size-mini;

  color: #bbb;
}

.price-block__price--buy {
  display: inline-block;

  font: a-desktop-size-base; 
  line-height: 20px;
  text-decoration: none;

  color: #b12704;
}

.price-block__button--add-to-cart {
  width: 115px;
  height: 30px;
  padding: a-desktop-spacing-micro;
  display: inline-block;

  text-align: center;
  border: 1px solid #a88734;  
  font-size: 12px;
  font-family: sans-serif;

  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

.icon--prime {
  margin-bottom: a-desktop-spacing-micro;
  width: 52px;
  height: 16px;
  display: block;

  vertical-align: baseline;

  background-position: -5px -489px;
  background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0037-1x._V1_.png%22");
}

.icon--stars {
  width: 80px;
  height: 16px;
  display: block;

  vertical-align: baseline;

	background-position: -175px -368px;
  background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0037-1x._V1_.png%22");
}

.stock--availability {
	display: block;

	font-size: 11px;
	color: #008a00;
}