.asin__block__container {
}


/* ASIN Image */
.product__image {
  width: 10%;
  padding-bottom: 10px;
  text-align: left;
}

/* ASIN Link */
.product__link {
  font-family: Arial;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: $a-desktop-base-color;
  text-decoration: none;
}

a.product__link:active {
  color: $a-desktop-base-color;
}

a.product__link:visited {
  color: $a-desktop-base-color;
}

.list__price {
  font-family: Arial;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: line-through;
}

.red__price {
font-family: Arial;
font-size: 13px;
}

/* Review Stars */
.reviews {
  clear: both;
  overflow: hidden;
  margin-top: 20000px;
}

.reviews__container {
  vertical-align: middle;
}

.reviews__stars {
  display: inline-block;
  width: 80px;
  height: 18px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-position: -175px -368px;
  background-image: url(../../images/aui-sprite.png);
  background-repeat: no-repeat;
  background-size: 400px 650px;
}

.reviews__star__number {
  display: inline-block;
  font-family: Arial;
  font-size: 13px;
  line-height: 18px;
}

a.reviews__star__number:active {
  box-sizing: border-box;
  color: #0066c0;
  font-size: 13px;
}

a.reviews__star__number:visited {
  color: #0066c0;
}