
---
title: Welcome to Cuddlefish
---

<div class="welcome">
  <h1>Cuddlefish.io</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "https://github.com/bux-cuddlefish/bux-cuddlefish.github.io#cuddlefish" %>
  </p><!-- .doc -->
</div><!-- .welcome -->