<body>
	<div class="price-block__container">
		<div class="image--placeholder"></div>
		<a href="#" class="price-block__title">Sunshine Cheez-It Cracker <br>Awesomeness, 48-Ounce...</a>
		<i class="icon--stars"></i>
		<a href="#" class="price-block__price--list">$16.00</a>
		<a href="#" class="price-block__price--buy">$12.00</a>
		<i class="icon--prime"></i>
		<a class="stock--availability">Only 11 left in stock</a>
	</div>
</body>
