<body>
		<i class="icon--stars"></i>
		<a href="#" class="price-block__price--list">$16.00</a>
		<a href="#" class="price-block__price--buy">$12.00</a>
		<i class="icon--prime"></i>
		<a href="#" class="price-block__button--add-to-cart"><i class="ss-cart"></i> Add to cart</a>
</body>
