<img class="product__image" src="images/ASIN.jpg"/>
  <a href="x" class="product__link__text">Call of Duty Black Ops</a>
    <div class="list__price">$19.99</div>
<div class="reviews__container">
  <i class="reviews__stars"></i>
  <a href="#reviews" class="reviews__star__number">(499)</a>
</div>
<i class="prime-logo__sprite"></i>
	<img class="prime-logo__image" src="images/prime-logo.png"/>